.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }

  .input[type=text]:not(.browser-default) {
    border-bottom: 0px;
    height: 100%;
    padding: 0 10px;
  }

  .input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ee6e73;
    padding: 20px;
    display: inline-block;
    border: none;
    border-radius: 5%;
    width: 20%;
  }